.fds-timeline {
  &__node-number {
    &--small-dot {
      width: 18px;
      height: 18px;
      left: -15px;
      top: 0
    }

    &--no-dot {
      opacity: 0;
    }
  }

  &__time-stamp--selected {
    .fds-timeline__node-number {
      background: govuk-colour("mid-grey");
    }
  }
}