.fds-timeline {
  &__node-number {
    &--small-dot {
      width: 18px;
      height: 18px;
      left: -15px;
      top: 0
    }

    &--no-dot {
      opacity: 0;
    }
  }

  &__time-stamp--complete {
    border-color: govuk-colour("green");

    &--no-border {
      border-color: transparent;

      .fds-timeline__node-number {
        border-color: govuk-colour("green");
        background-color: govuk-colour("green");
      }
    }

    &--grey-border {
      border-color: govuk-colour("mid-grey");

      .fds-timeline__node-number {
        border-color: govuk-colour("green");
        background-color: govuk-colour("green");
      }
    }

    .fds-timeline__node-number {
      border-color: govuk-colour("green");
      background-color: govuk-colour("green");
    }
  }

  &__time-stamp--selected {
    .fds-timeline__node-number {
      background: govuk-colour("mid-grey");
    }
  }

  &__time-stamp--error {
    .fds-timeline__node-number {
      border-color: govuk-colour("red");
    }

    &:not(.fds-timeline__time-stamp--no-border) {
      border-left-color: govuk-colour("red");
    }
  }
}